.picker_wrapper.no_alpha .picker_alpha{
    display:none
}
.picker_wrapper.no_editor .picker_editor{
    position:absolute;
    z-index:-1;
    opacity:0
}
.picker_wrapper.no_cancel .picker_cancel{
    display:none
}
.layout_control.picker_wrapper{
    display:flex;
    flex-flow:row wrap;
    justify-content:space-between;
    align-items:center;
    font-size:10px;
    width:25em;
    padding:.5em;
    border: 1px solid rgb(var(--panel-border));
    border-radius: 5px;
    -webkit-animation: fpFadeInDown 300ms cubic-bezier(0.23, 1, 0.32, 1);
    animation: fpFadeInDown 300ms cubic-bezier(0.23, 1, 0.32, 1);
}
.layout_control.picker_wrapper input,.layout_control.picker_wrapper button{
    font-size:0.875rem
}
.layout_control.picker_wrapper>*{
    margin:4px
}
.layout_control.picker_wrapper::before{
    content:"";
    display:block;
    width:100%;
    height:0;
    order:1
}
.layout_control .picker_slider,.layout_control .picker_selector{
    padding:1em;
}
.layout_control .picker_hue{
    width:100%
}
.layout_control .picker_sl{
    flex:1 1 auto
}
.layout_control .picker_sl::before{
    content:"";
    display:block;
    padding-bottom:100%
}
.layout_control .picker_editor{
    order:1;
    width:6.5rem;
}
.layout_control .picker_editor input{
    width:100%;
    height:34px;
    border:1px solid rgb(var(--input-border));
    border-radius:0.25rem;
    color:rgb(var(--input));
    font-size:0.875rem;
    line-height:1.25rem;
    padding:0.375rem 0.75rem;
    background-color:rgb(var(--input-bg));
}
.layout_control .picker_editor input:focus {
    --tw-ring-opacity: 1;
    --tw-ring-color: rgb(var(--brand));
}
.layout_control .picker_sample{
    order:1;
    flex:1 1 auto;
    border:1px solid rgb(var(--input-border));
    border-radius: 0.25rem;
    overflow: hidden;
    height: 34px;
}
.layout_control .picker_done,.layout_control .picker_cancel{
    order:1
}
.picker_wrapper{
    background: rgb(var(--panel-bg));
    cursor:default;
    font-family:inherit;
    color:#444;
    pointer-events:auto
}
.picker_wrapper:focus{
    outline:none
}
.picker_wrapper button,.picker_wrapper input{
    box-sizing:border-box;
    border:none;
    outline:none
}
.picker_wrapper button{
    color: rgb(var(--button-default));
    line-height: 1.25rem;
    padding: 0.375rem;
    background-color: rgb(var(--button-default-bg));
    border: 1px solid rgb(var(--button-default-border));
    border-radius: 0.25rem;
    justify-content: center;
    align-items: center;
    width: max-content;
    cursor: pointer;
    display: flex;
}
.picker_wrapper button:hover{
    color: rgb(var(--button-default-hover));
    background-color: rgb(var(--button-default-bg-hover));
    border-color: rgb(var(--button-default-border-hover));
}
.picker_selector{
    position:absolute;
    z-index:1;
    display:block;
    -webkit-transform:translate(-50%, -50%);
    transform:translate(-50%, -50%);
    border:2px solid rgb(var(--input-bg));
    border-radius:100%;
    box-shadow:0 0 3px 1px rgb(var(--brand));
    background:currentColor;
    cursor:pointer
}
.picker_slider .picker_selector{
    border-radius:2px;
}
.picker_hue{
    position:relative;
    background-image:linear-gradient(90deg, red, yellow, lime, cyan, blue, magenta, red);
    border: 1px solid rgb(var(--panel-border));
    border-radius: 5px;
}
.picker_sl{
    position:relative;
    border: 1px solid rgb(var(--panel-border));
    border-radius: 5px;
    height: 230px;
    background-image:linear-gradient(180deg, white, rgba(255, 255, 255, 0) 50%),linear-gradient(0deg, black, rgba(0, 0, 0, 0) 50%),linear-gradient(90deg, #808080, rgba(128, 128, 128, 0))
}
.picker_alpha,.picker_sample{
    position:relative;
    background:linear-gradient(45deg, lightgrey 25%, transparent 25%, transparent 75%, lightgrey 75%) 0 0/2em 2em,linear-gradient(45deg, lightgrey 25%, white 25%, white 75%, lightgrey 75%) 1em 1em/2em 2em;
    height: 230px;
    border: 1px solid rgb(var(--panel-border));
    border-radius: 5px;
}
.picker_alpha .picker_selector,.picker_sample .picker_selector{
    background:none
}
.picker_sample::before{
    content:"";
    position:absolute;
    display:block;
    width:100%;
    height:100%;
    background:currentColor
}
.picker_arrow{
    position:absolute;
    z-index:-1
}
.picker_wrapper.popup{
    position:absolute;
    z-index:2;
    margin:1.5em
}
.picker_wrapper.popup,.picker_wrapper.popup .picker_arrow::before,.picker_wrapper.popup .picker_arrow::after{
    background:rgb(var(--panel-bg));
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / .1), 0 2px 4px -2px rgb(0 0 0 / .1);
}
.picker_wrapper.popup .picker_arrow{
    width:2em;
    height:2em;
    margin:0
}
.picker_wrapper.popup .picker_arrow::before,.picker_wrapper.popup .picker_arrow::after{
    content:"";
    display:block;
    position:absolute;
    top:0;
    left:0;
    z-index:-99
}
.picker_wrapper.popup .picker_arrow::before{
    width:100%;
    height:100%;
    -webkit-transform:skew(45deg);
    transform:skew(45deg);
    -webkit-transform-origin:0 100%;
    transform-origin:0 100%;
    border:1px solid rgb(var(--panel-border));
}
.picker_wrapper.popup .picker_arrow::after{
    width:150%;
    height:150%;
    box-shadow:none
}
.popup.popup_top{
    bottom:100%;
    left:0
}
.popup.popup_top .picker_arrow{
    bottom:0;
    left:5px;
    -webkit-transform:rotate(-90deg);
    transform:rotate(-90deg)
}
.popup.popup_bottom{
    top:100%;
    left:0
}
.popup.popup_bottom .picker_arrow{
    top:0;
    left:5px;
    -webkit-transform:rotate(90deg) scale(1, -1);
    transform:rotate(90deg) scale(1, -1)
}
.popup.popup_left{
    top:0;
    right:100%
}
.popup.popup_left .picker_arrow{
    top:5px;
    right:0;
    -webkit-transform:scale(-1, 1);
    transform:scale(-1, 1)
}
.popup.popup_right{
    top:0;
    left:100%
}
.popup.popup_right .picker_arrow{
    top:5px;
    left:0
}
